.video-list-container {
  background-color: #222; 
  color: #fff;
  padding: 20px;
}

.videos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.videos-title {
  font-size: 24px;
}

.add-video-section {
  display: flex;
  align-items: center;
}

.add-video-btn {
  background-color: rgb(230, 100, 50);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-video-btn:hover {
  background-color: rgb(180, 80, 40);
}

.video-carousel {
  margin-top: 20px;
}

.carousel-item {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.video-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.edit-video-btn {
  background-color: rgb(230, 100, 50);
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-video-btn:hover {
  background-color: rgb(180, 80, 40);
}

.video-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.video-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.video-player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.custom-dot-list-style {
  display: none;
}
